.filter-container {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.filter-container input,
.filter-container button {
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.filter-container button {
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.filter-container button:hover {
  background-color: #0056b3;
}

.movie-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
